* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span, 
a {
  font-family: "Poppins", sans-serif;
  line-height: 120%;
  letter-spacing: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #032230;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.login-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #F1F2F6;
}

main {
  background-color: #F1F2F6;
  border-radius: 20px 0 0 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 416px;
  gap: 63px;
}

.grid-container-item-title {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 10px;
}

.grid-container-item-description {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 20px;
}

.grid-container-item-description-text {
  font-size: 18px;
  font-weight: 500;
  color: #A6A9B8;
}

.grid-container-item-description-link {
  color: #A6A9B8;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  margin-left: 34px;
  display: flex;
  align-items: center;
  width: fit-content;
}
.grid-container-item-description-link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #A6A9B8;
  transition: width 0.3s ease;
}

.grid-container-item-description-link:hover::after {
  width: 100%;
}

.grid-container-item-description-link svg{
  margin-left: 10px;
}

.advertising-banner {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 1019px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .background-overlay[data-open="true"] {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  main {
    border-radius: 0;
  }

  .grid-container {
    grid-template-columns: auto;
  }
}

